---
- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: logs_ingest_token
    access_token_scope: ["logs.ingest"]

- set_fact:
    role_path_abs: "{{ role_path }}"

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "monaco_cleanup_api_token"
    access_token_scope:
      [
        "slo.read",
        "slo.write",
        "CaptureRequestData",
        "credentialVault.read",
        "credentialVault.write",
        "DataExport",
        "DataPrivacy",
        "ExternalSyntheticIntegration",
        "ReadConfig",
        "WriteConfig",
        "events.ingest",
        "settings.read",
        "settings.write",
        "metrics.ingest",
        "openTelemetryTrace.ingest",
        "logs.ingest"
      ]
#Generate OAuth Token
- block:
    - name: Request a DT OAuth access token
      ansible.builtin.uri:
        url: "{{ extra_vars.dt_oauth_sso_endpoint }}"
        method: POST
        status_code: 200
        headers:
          Content-Type: "application/x-www-form-urlencoded"
        body_format: form-urlencoded
        body:
          grant_type: "client_credentials"
          client_id: "{{ extra_vars.dt_oauth_client_id }}"
          client_secret: "{{ extra_vars.dt_oauth_client_secret }}"
          scope: "document:documents:read document:documents:write document:direct-shares:read document:direct-shares:write automation:workflows:write"
          resource: "{{ extra_vars.dt_oauth_account_urn }}"
      register: auth_response_raw
    - set_fact:
        dt_oauth_access_token: "{{ auth_response_raw.json.access_token }}"

- include_role:
    name: dt-platform
    tasks_from: ensure-app
  vars:
    dt_app_id: "{{ item.dt_app_id }}"
    dt_environment_url_gen3: "{{ extra_vars.dt_environment_url_gen3 }}"
    dt_oauth_sso_endpoint: "{{ extra_vars.dt_oauth_sso_endpoint }}"
    dt_oauth_client_id: "{{ extra_vars.dt_oauth_client_id }}"
    dt_oauth_client_secret: "{{ extra_vars.dt_oauth_client_secret }}"
    dt_oauth_account_urn: "{{ extra_vars.dt_oauth_account_urn }}"
  loop:
    - dt_app_id: "dynatrace.redhat.ansible"
      dt_app_version: "0.2.1"
    - dt_app_id: "dynatrace.davis.workflow.actions"
      dt_app_version: "1.1.4"
    - dt_app_id: "dynatrace.slack"
      dt_app_version: "1.3.1"
    - dt_app_id: "dynatrace.gitlab.connector"
      dt_app_version: "0.2.2"
    - dt_app_id: "dynatrace.jira"
      dt_app_version: "4.0.0"
    - dt_app_id: "dynatrace.redhat.ansible"
      dt_app_version: "0.3.2"
    - dt_app_id: "dynatrace.servicenow"
      dt_app_version: "0.9.1"
    - dt_app_id: "dynatrace.azure.connector"
      dt_app_version: "0.2.3"
    - dt_app_id: "dynatrace.msteams"
      dt_app_version: "1.0.1"
    - dt_app_id: "dynatrace.github.connector"
      dt_app_version: "0.8.0" 

- name: Pause for 5 Minute
  ansible.builtin.pause:
    minutes: 5

- include_role:
    name: monaco-v2

- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco/manifest.yaml"
    monaco_environment:
      #SLACK_TOKEN: "{{ extra_vars.slack_token }}"
      JIRA_CONNECTION_TOKEN: "{{ extra_vars.jira_connection_token }}"
      DT_API_TOKEN: "{{ monaco_cleanup_api_token }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"
      INGRESS_DOMAIN: "{{ ingress_domain }}"

- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco_platform"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco_platform/manifest.yaml"
    monaco_environment:
      #SLACK_TOKEN: "{{ extra_vars.slack_token }}"
      DT_API_TOKEN: "{{ monaco_cleanup_api_token }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"

- name: Check if the workflow file exists
  stat:
    path: "/home/{{ ansible_user }}/repos/ace-box-ext-hot-security-perform-2025/roles/my-use-case/files/monaco/deploy/workflow/jira-issue-for-vulnerabilities.json"
  register: file_check

- name: Fail if the workflow file is not found
  fail:
    msg: "Workflow file not found or not readable: /home/{{ ansible_user }}/repos/ace-box-ext-hot-security-perform-2025/roles/my-use-case/files/monaco/deploy/workflow/jira-issue-for-vulnerabilities.json"
  when: not file_check.stat.exists or not file_check.stat.isreg

- name: Add workflow
  shell: >
    curl -X POST \
    '{{ extra_vars.dt_environment_url_gen3 }}/platform/automation/v1/workflows' \ 
    -H 'Accept: application/json' \
    -H 'Content-Type: application/json' \
    -H 'Authorization: Bearer {{ dt_oauth_access_token }}' \
    --data-binary "@/home/{{ ansible_user }}/repos/ace-box-ext-hot-security-perform-2025/roles/my-use-case/files/monaco/deploy/workflow/jira-issue-for-vulnerabilities.json" \
    -i
  register: auth_response_raw
  failed_when: auth_response_raw.rc != 0
  changed_when: False

- name: Log the response from the API
  debug:
    msg:
      - "Response Code: {{ auth_response_raw.stdout_lines | select('match', '^HTTP/') | list }}"
      - "Response Body: {{ auth_response_raw.stdout_lines | difference(auth_response_raw.stdout_lines | select('match', '^HTTP/')) | list }}"
  when: auth_response_raw is defined

- name: Fail if API response indicates an error
  fail:
    msg: "API call failed with response: {{ auth_response_raw.stdout }}"
  when: "'HTTP/1.1 200 OK' not in auth_response_raw.stdout"

- include_role:
    name: microk8s
- include_role:
    name: dt-operator-version-detection
  vars:
    dt_operator_release: "v1.4.0"
- include_role:
    name: appsec-srg-gitlab

- name: Pause for 5 Minute
  ansible.builtin.pause:
    minutes: 5

- include_role:
    name: easytrade
- include_role:
    name: unguard
- include_role:
    name: unguard-dev

#- include_role:
#    name: app-hipstershop
#- include_role:
#    name: app-easytravel

#- include_role:
#    name: app-falco
