---

- name: Start log generator script
  shell: "nohup python3 {{ role_path }}/files/log_generator.py > /tmp/log_generator.log 2>&1 &"

- include_role:
    name: k3s

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "dt_access_token_name"
    access_token_scope: ["settings.read", "settings.write", "WriteConfig"]

# --------------------------------------------------------------------
# BizEvent ingestion OneAgent feature
# --------------------------------------------------------------------
- name: Configure bizevent ingest
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: "{{ lookup('file', role_path + '/files/bizevent_ingest.json') }}"
    body_format: json
    status_code: 200

# --------------------------------------------------------------------
# Creation of Unguard web application
# --------------------------------------------------------------------
- name: Create unguard web application
  uri:
    url: "{{ dynatrace_tenant_url }}/api/config/v1/applications/web"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: "{{ lookup('file', role_path + '/files/unguard_webapp.json.j2') }}"
    body_format: json
    status_code: [200, 201]
  register: unguard_webapp_result

- debug:
    msg: "Created app ID: {{ unguard_webapp_result.json.id }}"  
  
- name: Pause for 1 Minute
  ansible.builtin.pause:
    minutes: 1

# --------------------------------------------------------------------
# Configuration of of Unguard web application detection rule
# --------------------------------------------------------------------
- name: Configure app detection rules
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: "{{ lookup('template', role_path + '/files/app_detection.json.j2') }}"
    body_format: json
    status_code: [200, 201]   

- name: Pause for 1 Minute
  ansible.builtin.pause:
    minutes: 1   

# --------------------------------------------------------------------
# Creation of Unguard management zone
# --------------------------------------------------------------------
- name: Configure management zone
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: "{{ lookup('file', role_path + '/files/mz_unguard.json') }}"
    body_format: json
    status_code: [200, 201]

- include_role:
    name: dt-operator
  vars:
    operator_mode: "cloudNativeFullStack"
    log_monitoring: "oneagent"
    dt_operator_release: "v1.7.3"

- name: Pause for 1 Minute
  ansible.builtin.pause:
    minutes: 1

- include_role:
    name: app-easytrade

- include_role:
    name: app-unguard
  vars:
    ingress_protocol: "http"

- name: Pause for 1 Minute
  ansible.builtin.pause:
    minutes: 1

- include_role:
    name: dashboard