---

- debug:
    msg: "enabled"

- name: Start log generator script
  shell: "nohup python3 {{ role_path }}/files/log_generator.py > /tmp/log_generator.log 2>&1 &"
  when: false

- include_role:
    name: k3s

- include_role:
    name: microk8s
  when: false

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "dt_access_token_name"
    access_token_scope: ["settings.read", "settings.write", "WriteConfig", "ExternalSyntheticIntegration"]

# --------------------------------------------------------------------
# BizEvent ingestion OneAgent feature
# --------------------------------------------------------------------
- name: Configure bizevent ingest
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: "{{ lookup('file', role_path + '/files/bizevent_ingest.json') }}"
    body_format: json
    status_code: 200
  when: false

- name: Pause for 1 Minute
  ansible.builtin.pause:
    minutes: 1   
  when: false

# --------------------------------------------------------------------
# Log storage settings - Enable log ingestion
# --------------------------------------------------------------------
- name: Get log storage settings object
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects?schemaIds=builtin%3Alogmonitoring.log-storage-settings&scopes=environment&fields=objectId%2C%20value&filter=value.config-item-title%20%3D%20%27%5BBuilt-in%5D%20Ingest%20all%20logs%27&adminAccess=false"
    method: GET
    headers:
      accept: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    return_content: yes
  register: log_storage_response
  when: false

- debug:
    msg: "type: {{ log_storage_response.json.__class__.__name__ }} | content: {{ log_storage_response.json }}"
  when: false

- debug:
    msg: "keys: {{ log_storage_response.keys() }}"
  when: false

- name: Extract log storage object ID
  set_fact:
    log_storage_object_id: "{{ log_storage_response.json['items'][0]['objectId'] }}"
  when: false

- name: Enable log storage ingestion
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects/{{ log_storage_object_id }}"
    method: PUT
    headers:
      accept: "application/json; charset=utf-8"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: "{{ lookup('file', role_path + '/files/log_storage_enable.json') }}"
    body_format: json
    status_code: [200]
  register: log_storage_update_result
  when: false

- include_role:
    name: dt-operator
  vars:
    operator_mode: "cloudNativeFullStack"
    log_monitoring: "oneagent"
    dt_operator_release: "v1.7.3"

- name: Pause for 1 Minute
  ansible.builtin.pause:
    minutes: 1
  when: false

- include_role:
    name: app-easytrade
  vars:
    ingress_protocol: "http"

- name: Create HTTP test
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v1/synthetic/monitors"
    method: POST
    headers:
      accept: "application/json; charset=utf-8"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: "{{ lookup('template', role_path + '/files/http_monitor.json.j2') }}"
    body_format: json
    status_code: 200
  when: false

- name: Pause for 1 Minute
  ansible.builtin.pause:
    minutes: 1
  when: false

- include_role:
    name: dashboard
  vars:
    dashboard_skip_install: true
