---

- include_role:
    name: k3s

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "dt_access_token_name"
    access_token_scope:
      [
        "slo.read",
        "slo.write",
        "CaptureRequestData",
        "credentialVault.read",
        "credentialVault.write",
        "DataExport",
        "DataPrivacy",
        "ExternalSyntheticIntegration",
        "ReadConfig",
        "WriteConfig",
        "events.ingest",
        "settings.read",
        "settings.write",
        "metrics.ingest",
        "openTelemetryTrace.ingest",
        "logs.ingest"
      ]

- name: Configure bizevent ingest
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: |
      [
        {
          "schemaId": "builtin:oneagent.features",
          "scope": "environment",
          "value": {
            "enabled": true,
            "instrumentation": true,
            "key": "SENSOR_WEBSERVER_BIZEVENTS_HTTP_INCOMING"
          }
        }
      ]
    body_format: json
    status_code: 200

- set_fact:
    role_path_abs: "{{ role_path }}"

- name: Pause for 2 Minute
  ansible.builtin.pause:
    minutes: 2

- include_role:
    name: monaco-v2
  vars:
    monaco_version: "v2.23.1"

- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco/manifest.yaml"
    monaco_environment:
      JIRA_CONNECTION_TOKEN: "{{ extra_vars.jira_connection_token }}"
      DT_API_TOKEN: "{{ dt_access_token_name }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"
      INGRESS_DOMAIN: "{{ ingress_domain }}"

- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco_platform"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco_platform/manifest.yaml"
    monaco_environment:
      DT_API_TOKEN: "{{ mdt_access_token_name }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"

- include_role:
    name: appsec-srg-gitlab

- name: Pause for 5 Minute
  ansible.builtin.pause:
    minutes: 5

- include_role:
    name: dt-operator
  vars:
    operator_mode: "cloudNativeFullStack"  
    dt_operator_release: "1.5.0"       # operator release should be linked with the right operator mode
    log_monitoring: "oneagent"

- include_role:
    name: app-easytrade

- include_role:
    name: app-unguard

