---
- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: logs_ingest_token
    access_token_scope: ["logs.ingest"]
  when: false

- set_fact:
    role_path_abs: "{{ role_path }}"

- include_role:
    name: k3s

- name: Pause for 2 Minute
  ansible.builtin.pause:
    minutes: 2
  when: false

- include_role:
    name: monaco-v2
  vars:
    monaco_version: "v2.23.1"
    when: false

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "monaco_cleanup_api_token"
    access_token_scope:
      [
        "slo.read",
        "slo.write",
        "CaptureRequestData",
        "credentialVault.read",
        "credentialVault.write",
        "DataExport",
        "DataPrivacy",
        "ExternalSyntheticIntegration",
        "ReadConfig",
        "WriteConfig",
        "events.ingest",
        "settings.read",
        "settings.write",
        "metrics.ingest",
        "openTelemetryTrace.ingest",
        "logs.ingest"
      ]
    when: false



- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco/manifest.yaml"
    monaco_environment:
      JIRA_CONNECTION_TOKEN: "{{ extra_vars.jira_connection_token }}"
      DT_API_TOKEN: "{{ monaco_cleanup_api_token }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"
      INGRESS_DOMAIN: "{{ ingress_domain }}"
    when: false

- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco_platform"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco_platform/manifest.yaml"
    monaco_environment:
      DT_API_TOKEN: "{{ monaco_cleanup_api_token }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"
    when: false

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "dt_access_token_name"
    access_token_scope: ["settings.read", "settings.write", "WriteConfig"]

- name: Configure bizevent ingest
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: |
      [
        {
          "schemaId": "builtin:oneagent.features",
          "scope": "environment",
          "value": {
            "enabled": true,
            "instrumentation": true,
            "key": "SENSOR_WEBSERVER_BIZEVENTS_HTTP_INCOMING"
          }
        }
      ]
    body_format: json
    status_code: 200

- name: Configure app detection rules
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: |
      [
        {
          "schemaId": "builtin:rum.web.app-detection",
          "scope": "environment",
          "value": {
            "matcher": "DOMAIN_CONTAINS",
            "pattern": "unguard",
            "applicationId": "APPLICATION-F80C45F85F795789"
          }
        }
      ]
    body_format: json
    status_code: 200   

- name: Configure management zone
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: |
      [
        {
          "name": "unguard",
          "rules": [
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "PROCESS_GROUP",
                "conditions": [
                  {
                    "key": "PROCESS_GROUP_PREDEFINED_METADATA",
                    "dynamicKey": "KUBERNETES_NAMESPACE",
                    "operator": "EQUALS",
                    "stringValue": "unguard",
                    "caseSensitive": true
                  }
                ],
                "pgToHostPropagation": true,
                "pgToServicePropagation": true
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "CLOUD_APPLICATION_NAMESPACE",
                "conditions": [
                  {
                    "key": "CLOUD_APPLICATION_NAMESPACE_NAME",
                    "operator": "EQUALS",
                    "stringValue": "unguard",
                    "caseSensitive": true
                  }
                ]
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "SERVICE",
                "conditions": [
                  {
                    "key": "PROCESS_GROUP_PREDEFINED_METADATA",
                    "dynamicKey": "KUBERNETES_NAMESPACE",
                    "operator": "EQUALS",
                    "stringValue": "unguard",
                    "caseSensitive": true
                  }
                ],
                "serviceToHostPropagation": false,
                "serviceToPGPropagation": false
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "CLOUD_APPLICATION",
                "conditions": [
                  {
                    "key": "CLOUD_APPLICATION_NAMESPACE_NAME",
                    "operator": "EQUALS",
                    "stringValue": "unguard",
                    "caseSensitive": true
                  }
                ]
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "KUBERNETES_CLUSTER",
                "conditions": [
                  {
                    "key": "KUBERNETES_CLUSTER_NAME",
                    "operator": "EQUALS",
                    "stringValue": "unguard",
                    "caseSensitive": true
                  }
                ]
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "SERVICE",
                "conditions": [
                  {
                    "key": "SERVICE_DATABASE_HOST_NAME",
                    "operator": "BEGINS_WITH",
                    "stringValue": "unguard-mariadb",
                    "caseSensitive": true
                  }
                ],
                "serviceToHostPropagation": true,
                "serviceToPGPropagation": true
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "HOST",
                "conditions": [
                  {
                    "key": "KUBERNETES_CLUSTER_NAME",
                    "operator": "EQUALS",
                    "stringValue": "unguard",
                    "caseSensitive": true
                  }
                ],
                "hostToPGPropagation": false
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "BROWSER_MONITOR",
                "conditions": [
                  {
                    "key": "BROWSER_MONITOR_TAGS",
                    "operator": "TAG_KEY_EQUALS",
                    "tag": "unguard"
                  }
                ]
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "HTTP_MONITOR",
                "conditions": [
                  {
                    "key": "HTTP_MONITOR_TAGS",
                    "operator": "TAG_KEY_EQUALS",
                    "tag": "unguard"
                  }
                ]
              }
            },
            {
              "enabled": true,
              "type": "ME",
              "attributeRule": {
                "entityType": "WEB_APPLICATION",
                "conditions": [
                  {
                    "key": "WEB_APPLICATION_NAME",
                    "operator": "EQUALS",
                    "stringValue": "unguard",
                    "caseSensitive": true
                  }
                ]
              }
            }
          ]
        }
      ]
    body_format: json
    status_code: 200

- include_role:
    name: dt-operator
  vars:
    operator_mode: "cloudNativeFullStack"  
    log_monitoring: "oneagent"

- include_role:
    name: app-easytrade

- include_role:
    name: app-unguard
  vars:
    ingress_protocol: "http"

- include_role:
    name: dashboard