---
- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: logs_ingest_token
    access_token_scope: ["logs.ingest"]

- set_fact:
    role_path_abs: "{{ role_path }}"

- include_role:
    name: k3s

- name: Pause for 2 Minute
  ansible.builtin.pause:
    minutes: 2

- include_role:
    name: monaco-v2
  vars:
    monaco_version: "v2.23.1"

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "monaco_cleanup_api_token"
    access_token_scope:
      [
        "slo.read",
        "slo.write",
        "CaptureRequestData",
        "credentialVault.read",
        "credentialVault.write",
        "DataExport",
        "DataPrivacy",
        "ExternalSyntheticIntegration",
        "ReadConfig",
        "WriteConfig",
        "events.ingest",
        "settings.read",
        "settings.write",
        "metrics.ingest",
        "openTelemetryTrace.ingest",
        "logs.ingest"
      ]



- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco/manifest.yaml"
    monaco_environment:
      JIRA_CONNECTION_TOKEN: "{{ extra_vars.jira_connection_token }}"
      DT_API_TOKEN: "{{ monaco_cleanup_api_token }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"
      INGRESS_DOMAIN: "{{ ingress_domain }}"

- include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_projects_root: "{{role_path_abs}}/files/monaco_platform"  # monaco projects root folder path
    monaco_project: "deploy" # selection of projects or all projects under the root path if set empty
    monaco_manifest_path: "{{role_path_abs}}/files/monaco_platform/manifest.yaml"
    monaco_environment:
      DT_API_TOKEN: "{{ monaco_cleanup_api_token }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3 }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint }}"

- include_role:
    name: dt-access-token
  vars:
    access_token_var_name: "dt_access_token_name"
    access_token_scope: ["settings.read", "settings.write"]

- name: Configure bizevent ingest
  uri:
    url: "{{ dynatrace_tenant_url }}/api/v2/settings/objects"
    method: POST
    headers:
      accept: "application/json"
      Content-Type: "application/json; charset=utf-8"
      Authorization: "Api-Token {{ dt_access_token_name }}"
    body: |
      [
        {
          "schemaId": "builtin:oneagent.features",
          "scope": "environment",
          "value": {
            "enabled": true,
            "instrumentation": true,
            "key": "SENSOR_WEBSERVER_BIZEVENTS_HTTP_INCOMING"
          }
        }
      ]
    body_format: json
    status_code: 200

#- name: Upload Dynatrace Workflows
#  block:
 #   - include_tasks:
  #      file: add-gen3-workflow.yml
   #   vars:
    #    path_to_workflow: "{{ role_path_abs }}/files/monaco/deploy/workflow/jira-issue-for-vulnerabilities.json"
     #   workflow_name: "Jira-issue-for-vulnerabilities"
#      ignore_errors: yes
 #   - set_fact:
 #       lifecycle_workflow_id: "{{ workflow_id }}"
#  rescue:
 #   - name: Rescue Message
 #     debug:
#        msg: "Uploading Dynatrace Workflows failed but we keep going"
#    - set_fact:
#        lifecycle_workflow_id: "111"

# Add gen3 Dashboards via API
#- include_tasks:
#    file: add-gen3-dashboard.yml
#  vars:
#    path_to_dashboard: "{{ role_path_abs }}/files/dashboards/release-monitoring.json"
#    dashboard_name: "Release Monitoring"

#- include_role:
 #   name: appsec-srg-gitlab

#- name: Pause for 5 Minute
#  ansible.builtin.pause:
#    minutes: 5


- include_role:
    name: dt-operator-local
  vars:
    dt_operator_manifest_url: "https://github.com/Dynatrace/dynatrace-operator/releases/latest/download/kubernetes.yaml"
    dt_operator_csi_manifest_url: "https://github.com/Dynatrace/dynatrace-operator/releases/latest/download/kubernetes-csi.yaml"
    operator_mode: "cloudNativeFullStack"  
#    dt_operator_release: "latest"       # operator release should be linked with the right operator mode
    log_monitoring: "oneagent"

- include_role:
    name: app-easytrade

- include_role:
    name: app-unguard
  vars:
    ingress_protocol: "http"

- include_role:
    name: dashboard