apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - common
  - environment/easytrade-ingress.yml

patches:
  - path: environment/kubernetes-labels-patch.yml
    target:
        kind: Deployment

images:
- name: gcr.io/dynatrace-demoability/easytrade/accountservice
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/aggregatorservice
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/broker-service
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/calculationservice
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/contentcreator
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/credit-card-order-service
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/db
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/engine
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/feature-flag-service
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/frontend
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/frontendreverseproxy
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/loadgen
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/loginservice
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/manager
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/offerservice
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/pricing-service
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/rabbitmq
  newTag: "{{ easytrade_image_tag }}"

- name: gcr.io/dynatrace-demoability/easytrade/third-party-service
  newTag: "{{ easytrade_image_tag }}"
