falcosidekick: 
  enabled: true 
  image:
    tag: 2.29.0
  config:
    extraEnv: 
      - name: DYNATRACE_APITOKEN
        value: "{{ dynatrace_api_token }}"
      - name: DYNATRACE_APIURL
        value: "{{ dynatrace_tenant_url }}/api"
