[Unit]
Description=Program log demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ ace_box_user }}
ExecStart= /bin/bash -c 'source /home/{{ ace_box_user }}/connect-dyna-info && exec /home/{{ ace_box_user }}/program'

[Install]
WantedBy=multi-user.target
