
# microk8s >1.20 expects class "public"
ingress:
  class: public
  domain: myurl.com

stage: prod
version: 0.0.1

easytrade:
  images:
    registry: gcr.io/dynatrace-demoability/easytrade
    tag: 0d8bdc7
  headlessloadgen:
    image: gcr.io/dynatrace-demoability/headlessloadgen
    tag: b554e03
  accountservice:
    tag: 151f288
  engine:
    tag: 151f288