---
extRefs:
  Dynatrace:
    url: "{{ extra_vars.dt_environment_url_gen3 }}"
useCases:
  demo-release-validation-srg-gitlab:
    previews:
    - section: demo-release-validation-srg-gitlab
      description: Staging
      url: "{{ ingress_protocol }}://simplenodeservice-simplenode-gitlab-staging.{{ ingress_domain }}"
    - section: demo-release-validation-srg-gitlab
      description: Production
      url: "{{ ingress_protocol }}://simplenodeservice-simplenode-gitlab-prod.{{ ingress_domain }}"
    guides:
    - description: "Site Reliability Guardians, Monitoring as a Service and Monitoring as Code - Demo using GitLab and Site Reliability Guardians"
      url: "{{ ingress_protocol }}://gitlab.{{ ingress_domain }}/{{ gitlab_demo_srg_group }}/{{ gitlab_demo_srg_repo_name }}/-/blob/main/README.md"
