---

extRefs:
  EasyTrade:
    url: "{{ ingress_protocol }}://{{ easytrade_domain }}"
    description: "EasyTrade is available at <a href=\"{{ ingress_protocol }}://{{ easytrade_domain }}\">{{ ingress_protocol }}://{{ easytrade_domain }}</a>"
