---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    meta.helm.sh/release-name: easytrade
  labels:
    app: easytrade
  name: easytrade-ingress
  annotations:
    meta.helm.sh/release-name: easytrade
spec:
  ingressClassName: "{{ easytrade_ingress_class }}"
  rules:
  - host: "{{ easytrade_domain }}"
    http:
      paths:
      - backend:
          service:
            name: frontendreverseproxy-easytrade
            port: 
              number: 80
        path: /
        pathType: Prefix